<!DOCTYPE html>
<html lang="en" ng-app="example-app">
  <head>
    <meta charset="utf-8" />
    <title>angular-marked example</title>
    <style>
    body {
      margin: 0;
      padding: 20px;
      font-family: Helvetica, sans-serif;
      font-size: 14px;
    }

    </style>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/marked/lib/marked.js"></script>
    <script src="../angular-marked.js"></script>
  </head>
  <body>

    <h1>angular-marked</h1>

    <div ng-controller="MainController">

<marked>
### What?
Convert markdown to html at run time.


#### For example, this:

```html

  &lt;textarea ng-model="my_markdown" cols="60" rows="5">&lt;/textarea>
  &lt;div marked="my_markdown">&lt;/div>
```

#### Becomes this:
</marked>

<p>
<textarea ng-model="my_markdown" cols="60" rows="5"></textarea>
<div marked="my_markdown"></div>

<marked>
### Why?
I wanted to use [marked](https://github.com/chjj/marked) instead of [showdown](https://github.com/coreyti/showdown) as used in [angular-markdown-directive](https://github.com/btford/angular-markdown-directive) as well as expose the option to globally set defaults.

### How?

#### A block of text:

```html

    &lt;marked>
#Markdown directive   
*It works!*
    &lt;/marked>
```

#### Bind the markdown input to a scope variable:

```html

    &lt;div marked="my_markdown">&lt;/div>
    &lt;!-- Uses $scope.my_markdown -->
```

#### Include a markdown file:

```html

    &lt;div marked ng-include="'README.md'">&lt;/div>
    &lt;!-- Uses markdown content from README.md -->
```

#### Set default options

```js

  app.config(['markedProvider', function(markedProvider) {
    markedProvider.setOptions({gfm: true});
  }]);

```

</marked>

    </div>
  </body>

  <script>
    var app = angular.module('example-app', ['hc.marked']);

    app.config(['markedProvider', function(markedProvider) {
      markedProvider.setOptions({gfm: true});
    }]);

    app.controller('MainController', ['$scope', function($scope) {
      $scope.my_markdown = "*This* **is** [markdown](https://daringfireball.net/projects/markdown/)";
    }]);
  </script>
</html>